html
	head
		title Template
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="../style/index.styl")
		script(src="../js/index.js" defer="defer")
	body Hello, world
